{% extends 'base.html'%}

{% block content %}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group row" style="text-align:center;margin:0 auto;margin-left:25%;display:inline-block;width:50%;">
            <div class="col-sm-15 col-6 col-xl-12 col-lg-12">
                <input type="search" class="form-control form-control-lg" id="colFormLabelLg" placeholder="search">
            </div>
        </div><br>
        <div class="form-group row btn" style="margin:0 auto;margin-left:35%;">
            <button class="btn btn-light" type="submit">Recherche Google</button>
            <button class="btn btn-light">j'ai de la chance</button>
        </div>
    </form>





    {% if final_result %}
    <b style="padding-left:50px;padding-right:50px;color:#646464;">resultat de votre recherche</b>
    {% for result in final_result %}
    <div class="Gsearch" style="padding-left:50px;padding-right:50px;">
        <h3 style="color:blue;"><a href="{{result.1}}">{{result.0}}</a></h3>
        <h3 style="color:green;">{{result.1}}</h3>
        <h3>{{result.2}}</h3>
    </div>
    {% endfor %}
    <br>
    {% endif %}
</div>
{% endblock content%}